ion-content{
    background-color: #e5e6e8 !important; //app 全局定义底色为灰色
}
.margin-top{
    margin-top: 10px !important;
}
.margin-bottom{
    margin-bottom: 10px !important;
}
.padding-top{
    padding-top: 10px !important;
}